body { 
    color:white;
    background:black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;

}

header {
  border-bottom: solid 2px rgb(92,187,230);
  padding: 20px;
  font-size: 33px;
  color: rgb(92,187,230)
}

section {
    background: rgb(0 41 105);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%; 
}

h1 {
    font-size: 35px;
}

p{
    font-size: 25px;
}